---
// Layout
import AdminLayout from '../../layouts/AdminLayout.astro'

// Utils components
import PageSEO from '../../components/utils/PageSEO.astro'
---

<AdminLayout>
  <PageSEO
    slot="seo"
    currentPage='Panel de Control - Gestiona tu Preparación'
    pageDescription='Gestiona tu preparación de oposiciones de Trabajo Social en Canarias desde tu panel de control. Accede a tu progreso, estadísticas y herramientas de estudio.'
    extraKeywords='dashboard socialia, panel control, gestión estudio, progreso oposiciones, estadísticas preparación'
  />
  <h1>Panel de Control</h1>
</AdminLayout>
