---
// Layout
import AdminLayout from '../../layouts/AdminLayout.astro'

// Utils components
import PageSEO from '../../components/utils/PageSEO.astro'
---

<AdminLayout client:load>
  <PageSEO
    slot="seo"
    currentPage='Panel de Control'
    pageDescription='Panel de Control'
    extraKeywords='dashboard, panel de control'
  />
  <h1>Panel de Control</h1>
</AdminLayout>
