@import "tailwindcss";


html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}


.container {
  margin: 8rem auto;
  max-width: 1350px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.debug {
  border: 1px solid red;
}

p {
  margin-bottom: 1rem;
}

/* Custom scroll bar */


/* width */
/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: var(--color-white);
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: var(--color-brown);
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: var(--color-brown-light);
} */