---
import Card from "../ui/Card.astro";
type IconName = "trophy" | "brain" | "bookOpen";

interface Feature {
  title: string;
  text: string;
  iconName: "trophy" | "brain" | "bookOpen";
  iconWhite?: boolean;
}

const Features: Feature[] = [
  {
    title: "1. Estudia",
    text: "Accede a un temario 100% canario, siempre actualizado y al grano",
    iconName: "bookOpen",
    iconWhite: true,
  },
  {
    title: "Practica",
    text: "Genera tests y casos prácticos con IA para dominar cada tema.",
    iconName: "brain",
    iconWhite: true,
  },
  {
    title: "Compite",
    text: "Gana puntos, sube de nivel y mídete con otras opositoras en el ranking",
    iconName: "trophy",
    iconWhite: true,
  },
];
---

<section class:list={["grid", "md:grid-cols-3", "bg-secondary", "w-full"]}>
  {
    Features.map((feature) => (
      <Card
        title={feature.title}
        text={feature.text}
        iconName={feature.iconName}
        iconWhite={feature.iconWhite}
        class:list={["bg-amber-600"]}
        className="bg-secondary flex items-center text-white text-center p-0 pt-4 max-w-xs mx-auto shadow-none"
      />
    ))
  }
</section>
