---
import H2 from "../ui/H2";
import ButtonLink from "../ui/ButtonLink";
---

<section class:list={["container", "hero", "bg-secondary", "text-secondary-content", "py-24"]}>
  <div class:list={["hero-content", "text-center"]}>
    <div class:list={["max-w-xl"]}>
      <H2 className="!text-white">
        ¿Lista para empezar a sumar Gofitos?
      </H2>
      <p class:list={["py-6"]}>
        Tu plaza está más cerca de lo que crees. Da el primer paso hoy mismo con
        acceso completo a todas las herramientas.
      </p>
      <ButtonLink isSoft href="/#">
        Empezar mi prueba gratis de 24 horas
      </ButtonLink>
    </div>
  </div>
</section>