---
import H2 from "../ui/H2";
---

<section class:list={["container", "hero", "py-32"]}>
  <div class:list={["hero-content", "text-center"]}>
    <div class:list={["max-w-3xl"]}>
      <H2> Convierte el Esfuerzo en Recompensa </H2>
      <p class:list={["py-6", "text-lg", "md:text-xl"]}>
        Hemos integrado un sistema de "Gofitos" y niveles para que cada minuto
        que inviertes en tu preparación cuente y te mantenga motivada.
      </p>
    </div>
  </div>
</section>
