---
import Layout from "../../../layouts/Layout.astro";
import ResetPasswordEmail from "../../../components/sections/forms/ResetPasswordEmail";
---

<Layout>
  <div class="min-h-[calc(100vh-4rem)] grid place-items-center px-4">
    <ResetPasswordEmail client:load />
  </div>
</Layout>
