---
import Layout from "../layouts/Layout.astro";

import HeroAbout from "../components/sections/HeroAbout.astro";
import BannerFeatures from "../components/sections/BannerFeatures.astro";
import AboutGofitos from "../components/sections/AboutGofitos.astro";
import Goal from "../components/sections/Goal.astro";
import FooterAbout from "../components/sections/FooterAbout.astro";
import HeroGofitos from "../components/sections/HeroGofitos.astro";
---

<Layout title="Oposocial Canarias - Una Metodología para Aprobar">
  <main class:list={["!bg-base-200"]}>
    <HeroAbout />
    <BannerFeatures />
    <HeroGofitos />
    <AboutGofitos />
    <Goal />
    <FooterAbout />
  </main>
</Layout>
