---
import Layout from "../layouts/Layout.astro";

import HeroAbout from "../components/organisms/HeroAbout.astro";
import BannerFeatures from "../components/organisms/BannerFeatures.astro";
import AboutGofitos from "../components/organisms/AboutGofitos.astro";
import Goal from "../components/organisms/Goal.astro";
import FooterAbout from "../components/organisms/FooterAbout.astro";
---

<Layout title="Socialia - Una Metodología para Aprobar">
  <main class:list={["!bg-base-200"]}>
    <HeroAbout />
    <BannerFeatures />
    <AboutGofitos />
    <Goal />
    <FooterAbout />
  </main>
</Layout>
