---
import Layout from "../layouts/Layout.astro";
import Forms from "../components/sections/forms/Login";
---
<Layout>
    <div class="min-h-[calc(100vh-4rem)] grid place-items-center px-4">
        <Forms client:load />
    </div>
</Layout>  