---
// Layout
import Layout from '../layouts/Layout.astro'

// Components
import Forms from '../components/molecules/forms/Login'

// Utils components
import PageSEO from '../components/utils/PageSEO.astro'
---

<Layout>
  <PageSEO
    slot="seo"
    currentPage='Login'
    pageDescription='Inicia sesión en Socialia'
    extraKeywords='login, comenzar, crear cuenta'
  />
  <div class='min-h-[calc(100vh-4rem)] grid place-items-center px-4'>
    <Forms client:load />
  </div>
</Layout>
