---
import Layout from "../layouts/Layout.astro";
import H1 from "../components/ui/H1.astro";
import H2 from "../components/ui/H2.astro";
import H3 from "../components/ui/H3.astro";
import Tag from "../components/ui/Tag.astro";
import CardInfo from "../components/ui/CardInfo.astro";
import Image from "../components/ui/Image.tsx";
---

<Layout>
  <H1>Tu plaza de Trabajo Social en Canarias, mas cerca que nunca.</H1>
  <H2>Prepárate para la Oposición como nunca antes</H2>
  <H3>Prepárate para la Oposición como nunca antes</H3>
  <Tag>Penitenciario</Tag>
  <CardInfo
    CardTitle="Temario 100% Canario"
    text="Accede a un temario general y especifico siempre actualizado a la normativa y contexto de las islas Canarias. !No estudies de más, ni de menos! Olvidate de los temarios genericos y céntrate en lo que de verdad importa para tu oposicion"
    iconName="bitcoin"
    iconWhite={false}
  />
  <Image 
    src="https://cdn.pixabay.com/photo/2021/10/03/17/37/maple-6678635_1280.jpg"
    alt="Estudiantes estudiando"
    className=""
  />
</Layout>


