---
import Layout from '../layouts/Layout.astro'
import H1 from '../components/ui/H1.tsx'
import H2 from '../components/ui/H2.tsx'
import H3 from '../components/ui/H3.tsx'
import Tag from '../components/ui/Tag.astro'
import CardInfo from '../components/ui/CardInfo.astro'
import Image from '../components/ui/Image.tsx'
import Card from '../components/ui/Card.astro'
import BannerFeatures from '../components/sections/BannerFeatures.astro'
---

<Layout>
  <section class='container'>
    <H1>Tu plaza de Trabajo Social en Canarias, mas cerca que nunca.</H1>
    <H2>Prepárate para la Oposición como nunca antes</H2>
    <H3>Prepárate para la Oposición como nunca antes</H3>
    <Tag>Penitenciario</Tag>
    <CardInfo
      title='Temario 100% Canario'
      iconName='bolt'
      rowReverse={true}
      imageSrc='/Estudiantes.webp'
      imageAlt='Estudiantes estudiando'
    >
      <p>
        Accede a un temario general y especifico siempre actualizado a la normativa y contexto de las islas Canarias. !No estudies de más, ni de menos! Olvidate de los temarios genericos y céntrate en lo que de verdad importa para tu oposicion
      </p>
    </CardInfo>
    <CardInfo
      title='Temario 100% Canario'
      iconName='bolt'
      rowReverse={false}
      imageSrc='/Estudiantes.webp'
      imageAlt='Estudiantes estudiando'
    >
      <p>
        Accede a un temario general y especifico siempre actualizado a la normativa y contexto de las islas Canarias. !No estudies de más, ni de menos! Olvidate de los temarios genericos y céntrate en lo que de verdad importa para tu oposicion
      </p>
    </CardInfo>
    <Image
      src='https://cdn.pixabay.com/photo/2021/10/03/17/37/maple-6678635_1280.jpg'
      alt='Estudiantes estudiando'
      className=''
    />
    <Image
    src='https://dmn-dallas-news-prod.cdn.arcpublishing.com/resizer/v2/6TBP4DYEI3LWPNOK5UWYPRFYUE.jpg?auth=09a40e91e0a70291deb6152ca884c1e0449d19616423ebae654042a863dbb45d&quality=80&width=1200&height=630&smart=true'
    alt='hola'
    />
  </section>
  <BannerFeatures/>

</Layout>

