---
import Layout from '../layouts/Layout.astro'
import Card from '../components/ui/Card.astro'
import TestButtons from '../components/sections/TestButtons.tsx'
---

<Layout>
  <main class:list={['container', 'mx-auto', 'px-4', 'py-12']}>
    <TestButtons client:load />
    <div>
      <Card
        title='lorem ipsum'
        text='skjdsfjdsjlkjdsllkds jsdsjkdjdslkjdsñlkdsñjñjdsñlklkñldsñljdslj dsjksajkjsañljsañljlñk'
        iconName='book'
      />
    </div>
  </main>
</Layout>
