---
import DashboardLayout from '../layouts/DashboardLayout.astro'
import DashboardContent from '../components/DashboardContent.tsx'
import DashboardLayoutReact from '../components/layout/DashboardLayout.tsx'
---

<DashboardLayout title='Dashboard - Socialia'>
  <DashboardLayoutReact
    title='Panel de Control'
    userRole='admin'
    showAdminSection={true}
    client:load
  >
    <h1>Settings</h1>
  </DashboardLayoutReact>
</DashboardLayout>
