---
// Components
import Layout from '../layouts/Layout.astro'
import RegistrationForm from '../components/molecules/forms/Registration.tsx'

// Utils components
import PageSEO from '../components/utils/PageSEO.astro'
---

<Layout>
  <PageSEO currentPage='sign-up' />
  <div class='min-h-[calc(100vh-4rem)] grid place-items-center px-4'>
    <RegistrationForm client:load />
  </div>
</Layout>
