---
// Components
import Layout from '../layouts/Layout.astro'
import RegistrationForm from '../components/molecules/forms/Registration'

// Utils components
import PageSEO from '../components/utils/PageSEO.astro'
---

<Layout>
  <PageSEO
    slot="seo"
    currentPage='Crear Cuenta Gratis - Únete Ahora'
    pageDescription='Regístrate en Socialia y comienza a preparar tus oposiciones de Trabajo Social en Canarias. Acceso a temario completo, casos prácticos con IA y herramientas de estudio avanzadas.'
    extraKeywords='registro socialia, crear cuenta, apuntarse oposiciones trabajo social, empezar preparación oposiciones, inscripción plataforma estudio'
  />
  <div class='min-h-[calc(100vh-4rem)] grid place-items-center px-4'>
    <RegistrationForm client:load />
  </div>
</Layout>
