---
import Layout from "../layouts/Layout.astro";
import RegistrationForm from "../components/organisms/forms/Registration.tsx";
---

<Layout>
    <div class="min-h-[calc(100vh-4rem)] grid place-items-center px-4">
        <RegistrationForm client:load />
    </div>
</Layout>