---
import Layout from "../layouts/Layout.astro";
import Forms from "../components/sections/Forms";
---
<Layout>
    <div class="min-h-screen grid place-items-center px-4">
        <Forms client:load />
    </div>
</Layout>  