---
interface Props {
  subtitleIsH3: boolean;
  class?: string;
}

const { subtitleIsH3 = true, class: className = " " } = Astro.props as Props;
---

<h1 class:list={["text-4xl", "text-center", "font-semibold", className]}>
  <slot />
</h1>
