---
// Layout
import Layout from "../../layouts/Layout.astro"

// Components
import ResetPasswordForm from "../../components/molecules/forms/ResetPasswordForm";

// Utils components
import PageSEO from '../../components/utils/PageSEO.astro'

// Get the token from the URL
const { token } = Astro.params;

// Redirect if no token
if (!token) {
    return Astro.redirect("/silvia/reset-password");
}
---

<Layout>
  <PageSEO currentPage='reset-password' />
  
    <div class="min-h-[calc(100vh-4rem)] grid place-items-center px-4">
        <ResetPasswordForm token={token} client:load />
    </div>
</Layout>
