---
// Layout
import Layout from '../../layouts/Layout.astro'

// Components
import ResetPasswordForm from '../../components/molecules/forms/ResetPasswordForm'

// Utils components
import PageSEO from '../../components/utils/PageSEO.astro'

// Get the token from the URL
const { token } = Astro.params

// Redirect if no token
if (!token) {
  return Astro.redirect('/silvia/reset-password')
}
---

<Layout>
  <PageSEO
    slot="seo"
    currentPage='Recuperar Contraseña'
    pageDescription='Recupera el acceso a tu cuenta de Socialia para continuar con tu preparación de oposiciones de Trabajo Social en Canarias. Proceso rápido y seguro.'
    extraKeywords='recuperar contraseña, olvidé contraseña, reset password, recuperar acceso cuenta'
  />
  <div class='min-h-[calc(100vh-4rem)] grid place-items-center px-4'>
    <ResetPasswordForm
      token={token}
      client:load
    />
  </div>
</Layout>
