---
// Layout
import Layout from '../../layouts/Layout.astro'

// Components
import ResetPasswordEmail from '../../components/molecules/forms/ResetPasswordEmail'

// Utils components
import PageSEO from '../../components/utils/PageSEO.astro'
---

<Layout>
  <PageSEO
    slot="seo"
    currentPage='Recuperar Contraseña'
    pageDescription='Recupera el acceso a tu cuenta de Socialia para continuar con tu preparación de oposiciones de Trabajo Social en Canarias. Proceso rápido y seguro.'
    extraKeywords='recuperar contraseña, olvidé contraseña, reset password, recuperar acceso cuenta'
  />
  <div class='min-h-[calc(100vh-4rem)] grid place-items-center px-4'>
    <ResetPasswordEmail client:load />
  </div>
</Layout>
