---
// Libs
import clsx from "clsx";

// Types
import type { TextIconType } from "../../types/text-icon";

// Icons
import { icons } from "../../data/icons.ts";

const {
  iconName = "check",
  text,
  textVariant = "muted",
} = Astro.props as TextIconType;
const Icon = icons[iconName] ?? icons.check;
---

<li
  class={clsx(
    "flex",
    "items-center",
    "text-sm",
    textVariant === "muted"
      ? "text-base-content"
      : "text-secondary",
  )}
>
  <span
    class={clsx(
      "inline-flex",
      "items-center",
      "justify-center",
      "w-6",
      "h-6",
      "mr-3",
      "rounded-full",
      "bg-white",
    )}
  >
    <Icon size={16} class:list={["text-secondary"]} />
  </span>
  <span class={clsx("text-sm")}>{text}</span>
</li>
