---
// Types
import type { CardType } from "../../types/card";

// Icons
import { icons } from "../../data/icons";

// Components
import H3 from "../atoms/H3";

// Libs
import clsx from "clsx";

// Props
const {
  title,
  iconName,
  iconWhite = false,
  textWhite = false,
  class: className = "",
} = Astro.props as CardType;

// Get current icon
let Icon = null;
if (iconName != null) {
  Icon = icons[iconName];
}

// Detect alignment from parent className
let textAlignment = "left";
if (className.includes("text-center")) {
  textAlignment = "center";
}
---

<article class={clsx("card", "w-full", "p-4", "text-left", className)}>
  <div class={clsx("card-body")}>
    <div
      class={clsx(
        "flex",
        "items-center",
        textAlignment === "center" ? "justify-center" : "justify-start"
      )}
    >
      {
        Icon != null && (
          <Icon
            size={36}
            className={iconWhite ? "text-white" : "text-secondary"}
          />
        )
      }
    </div>
    <H3
      className={clsx(
        "card-title",
        "capitalize",
        textWhite && "text-white",
        textAlignment === "center" ? "!text-center" : "!text-left",
        "w-full",
        "block"
      )}
    >
      {title}
    </H3>
    <slot />
  </div>
</article>
