---
// Components
import BannerBasic from '../molecules/BannerBasic.astro'
---

<BannerBasic title='¿Lista para empezar a sumar Gofitos?'>
  <p>
    Elije el plan que mejor se adapte a tu ritmo y objetivos. Sin permanencia,
    sin sorpresas. Solo las herramientas que necesitas para conseguir tu
    plaza.
  </p>
</BannerBasic>
