---
// Components
import CardCentered from "../molecules/CardCentered.astro";
import H2 from "../atoms/H2";

// Libs
import clsx from "clsx";

// Types
type Feature = {
  iconName: "bullseye" | "bolt" | "star";
  title: string;
  text: string;
};

// Data
const features = [
  {
    iconName: "bullseye",
    title: "Contenido Específico",
    text: "Nuestra IA analiza y adapta el temario a la legislación y el contexto 100% canario. Estudia solo lo que necesitas.",
  },
  {
    iconName: "bolt",
    title: "Práctica Ilimitada",
    text: "Genera infinitos casos prácticos y test. Nuestra IA crea escenarios realistas para que domines cada supuesto.",
  },
  {
    iconName: "star",
    title: "Análisis de Progreso",
    text: "Nuestro sistema identifica tus puntos débiles y te sugiere dónde enfocar tu energía para un estudio más eficiente.",
  },
] as Feature[];
---

<section class={clsx("container")}>
  <div class={clsx("!items-center")}>
    <H2 className={clsx("mb-4")}>Una Metodología Inteligente</H2>

    <p
      class={clsx(
        "text-center",
        "text-gray-600",
        "max-w-3xl",
        "mx-auto",
        "mb-12",
        "md:mb-16",
        "px-4"
      )}
    >
      Usamos la inteligencia artificial para darte una ventaja decisiva. Cada
      herramienta está diseñada para optimizar tu tiempo y maximizar tus
      resultados.
    </p>

    <div
      class={clsx(
        "mt-12",
        "grid",
        "grid-cols-1 md:grid-cols-3",
        "gap-6",
        "md:gap-8"
      )}
    >
      {
        features.map((feature) => (
          <div class={clsx("w-full", "max-w-lg", "items-center", "mx-auto")}>
            <CardCentered
              title={feature.title}
              iconName={feature.iconName}
              class={clsx("h-full", "p-4", "bg-base-100")}
            >
              {feature.text}
            </CardCentered>
          </div>
        ))
      }
    </div>
  </div>
</section>
