---
import H2 from "../atom/H2";
import ButtonLink from "../ui/ButtonLink";
import clsx from "clsx";
---

<section
  class={clsx(
    "w-full",
    "hero",
    "bg-secondary",
    "text-secondary-content",
    "py-24"
  )}
>
  <div class={clsx("container", "hero-content", "text-center")}>
    <div class={clsx("max-w-xl")}>
      <H2 className="!text-white"> ¿Lista para empezar a sumar Gofitos? </H2>
      <p class={clsx("py-6")}>
        Tu plaza está más cerca de lo que crees. Da el primer paso hoy mismo con
        acceso completo a todas las herramientas.
      </p>
      <ButtonLink
        isSoft
        href="/#"
        className="hover:!bg-secondary-content hover:!text-secondary"
      >
        Empezar mi prueba gratis de 24 horas
      </ButtonLink>
    </div>
  </div>
</section>
