---
import Card from "../ui/Card.astro";
import CardInfo from "../ui/CardInfo.astro";
import clsx from "clsx";
---

<section class={clsx("container", "py-16", "md:py-24")}>
  <CardInfo
    title="Tu Objetivo es Nuestro Objetivo"
    iconName="book"
    rowReverse={false}
    imageSrc="/doctor.png"
    imageAlt="Doctor"
  >
    <p class={clsx("mb-4", "text-neutral")}>
      Más allá de los puntos y los niveles, nuestro único fin es que consigas tu
      plaza. Cada herramienta, cada tema y cada test está diseñado para
      acercarte un paso más a ese día en que veas tu nombre en la lista de
      admitidos.
    </p>
  </CardInfo>
</section>
