---
// Components
import H1 from '../atoms/H1'
import ButtonLink from '../atoms/ButtonLink'
import Tag from '../atoms/Tag.astro'

// Libs
import { clsx } from 'clsx'

// Data
import { heroTitle, heroDescription } from '../../libs/constants/hero'
---

<section
  class={clsx('w-full', 'hero')}
  style='background-image: url(/reunion.webp);'
>
  <div class={clsx('w-full', 'hero-overlay', 'py-16')}>
    <div class={clsx('container', '!bg-transparent', 'hero-content', 'text-center', 'text-neutral-content')}>
      <div class={clsx()}>
        <Tag> Exclusivo para opositores en Canarias </Tag>
        <H1 className={clsx('mb-5', 'mt-5', 'text-base-100')}>
          {heroTitle}
        </H1>
        <p class={clsx('mb-5', 'text-lg')}>
          {heroDescription}
        </p>
        <ButtonLink href='/sign-up'>
          Empieza tu prueba gratis de 24 horas
        </ButtonLink>
      </div>
    </div>
  </div>
</section>
