---
// Components
import H1 from '../atom/H1'
import ButtonLink from '../ui/ButtonLink'
import Tag from '../ui/Tag.astro'

// Libs
import clsx from 'clsx'
---

<section
  class={clsx('w-full', 'hero')}
  style='background-image: url(/reunion.webp);'
>
  <div class={clsx('w-full', 'hero-overlay', 'py-16')}>
    <div class={clsx('container', '!bg-transparent', 'hero-content', 'text-center', 'text-neutral-content')}>
      <div class={clsx()}>
        <Tag> Exclusivo para opositores en Canarias </Tag>
        <H1 className={clsx('mb-5', 'mt-5', 'text-base-100')}>
          Tu plaza de Trabajo Social en Canarias, más cerca que nunca.
        </H1>
        <p class={clsx('mb-5', 'text-lg')}>
          Deja de perderte en temarios genéricos. Te ofrecemos la única
          plataforma con temario 100% canario, casos prácticos ilimitados
          generados por IA y una garantía de éxito única.
        </p>
        <ButtonLink href='/registro'>
          Empieza tu prueba gratis de 24 horas
        </ButtonLink>
      </div>
    </div>
  </div>
</section>
