---
// Fonts
import '@fontsource-variable/inter';
import '@fontsource/belleza';

// Styles
import '../styles/global.css';

// Components
import AdminNavbar from '../components/organisms/admin/Navbar';
import AdminDrawer from '../components/organisms/admin/Drawer';

// Props
interface Props {
  avatarUrl?: string;
  userName?: string;
  userEmail?: string;
}
---

<!doctype html>
<html lang="es" data-theme="winter">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <slot name='seo' />
    <title>Panel de Control</title>
  </head>
  <body class:list={["bg-base-200", "min-h-screen"]}>
    <AdminDrawer client:load>
      <AdminNavbar client:load />
      <slot />
    </AdminDrawer>
  </body>
</html>

