---
// Fonts
import '@fontsource-variable/inter';
import '@fontsource/belleza';

// css
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>OpoSocial</title>
	</head>
	<body>
		<slot />
		<div id="toaster"></div>
	</body>
</html>
