---
// Types
import type { CardProps } from '../../types/card'

// Icons
import { icons } from '../../data/icons'

// Components
import H3 from './H3'

// Props
const {
  title,
  iconName,
  iconWhite = false,
  textWhite = false,
  class: className = '',
} = Astro.props as CardProps

// Get current icon
let Icon = null
if (iconName != null) {
  Icon = icons[iconName]
}
---

<article
  class:list={['card', 'bg-base-100', 'w-full', 'p-4', className]}
>
  <div class:list={['card-body', 'shadow-sm', className]}>
    <div class:list={['flex', 'items-center']}>
      {
        Icon != null && (
          <Icon
            size={36}
            className={iconWhite ? 'text-white' : 'text-secondary'}
          />
        )
      }
    </div>
    <H3 class:list={['card-title', 'capitalize', textWhite && 'text-white']}>
      {title}
    </H3>
    <p class:list={[textWhite && '!text-white']}><slot /></p>
  </div>
</article>
