---
// Icons
import { FaBook } from "react-icons/fa";

// Props
interface Props {
  title: string;
  text: string;
  iconName: "book";
  iconWhite?: boolean;
}

const {
  title,
  text,
  iconName,
  iconWhite = false,
} = Astro.props as Props;

const icons = {
  book: FaBook,
};

const Icon = icons[iconName];
---

<div class:list={["card", "bg-base-100", "w-full", "shadow-sm"]}>
  <div class:list={["card-body"]}>
    <Icon size={36} className={iconWhite ? "text-white" : "text-secondary"} />

    <h3 class:list={["card-title", "capitalize"]}>
      {title}
    </h3>
    <p class:list={["text-black"]}>{text}</p>
  </div>
</div>
