---
import H3 from "../../components/ui/H3.astro";
import Image from "../../components/ui/Image.tsx";
import {
  FaAngry,
  FaBirthdayCake,
  FaBitcoin,
  FaBowlingBall,
} from "react-icons/fa";

// Diccionario de iconos
const icons = {
  birth: FaBirthdayCake,
  angry: FaAngry,
  bitcoin: FaBitcoin,
  bowl: FaBowlingBall,
};

// Props
interface Props {
  CardTitle: string;
  text: string;
  rowReverse: boolean;
  iconName?: keyof typeof icons;
  iconWhite?: boolean;
  class?: string;
}

// Desestructuración de props
const {
  CardTitle,
  text,
  iconName = "angry",
  iconWhite = false,
  rowReverse = false,
  class: className = "",
} = Astro.props as Props;

// Seleccionar el ícono correcto del diccionario
const IconComponent = icons[iconName];
---

<div
  class:list={[
    "w-full",
    "card",
    "md:card-side",
    "min-w-74",
    "lg:max-w-7xl",
    "mx-4",
    "grid",
    "grid-rows-2",
    "md:flex",
    rowReverse ? "!flex-row-reverse" : "",
    className
  ]}
>
  <!-- Imagen: arriba en mobile, a la izquierda en md+ -->
  <figure
    class:list={[
      "md:w-[50%]",
      "md:pr-6 flex",
      "justify-center",
      "items-center",
      "pr-3"
    ]}
  >
    <Image
      src="/public/Estudiantes.webp"
      alt="Estudiantes estudiando"
    />
  </figure>

  <!-- Contenido: centrado verticalmente -->
  <div
    class:list={[
      "card-body",
      "md:w-[20%]",
      "flex",
      "flex-col",
      "justify-center",
      "text-left",
      "h-full",
      "pt-8 xl:pt-24 lg:pt-16",
    ]}
  >
    {
      IconComponent && (
        <IconComponent
          className={`${iconWhite ? "text-white" : "text-primary"} text-3xl sm:text-4xl md:text-5xl mb-3`}
        />
      )
    }

    <H3
      class:list={["text-left", "mb-2", "text-lg", "sm:text-xl", "md:text-2xl"]}
    >
      {CardTitle}
    </H3>

    <p
      class:list={[
        "text-sm",
        "sm:text-base",
        "leading-relaxed",
        "text-gray-600",
        "sm-w-2/3",
        "mr-10"
      ]}
    >
      {text}
    </p>
  </div>
</div>
