---
import Card from "../../components/ui/Card.astro";
import Image from "../../components/ui/Image.tsx";

interface CardInfoProps {
  rowReverse?: boolean;
  class?: string;
}
const { rowReverse = false, class: className = "" } = Astro.props as CardInfoProps;
---

<div
  class:list={[
    "flex flex-col",
    "md:flex-row",
    rowReverse && "md:flex-row-reverse",
    "w-full",
    "md:min-h-screen",  
    "items-center",
    "overflow-hidden",   
    className,
  ]}
>
  <!-- Imagen -->
  <div class="w-full md:w-1/2">
    <Image
      src="/Estudiantes.webp"
      alt="Estudiantes estudiando"
      className="w-full md:h-full object-cover"  
    />
  </div>

  <!-- Card centrada -->
  <div class="w-full md:w-1/2 flex items-center justify-center py-8 md:h-full">
    <Card
      title="Temario 100% Canario"
      iconName="bolt"
      iconWhite={false}
      textWhite={false}
      class="shadow-none border-none flex items-start text-left"
    >
      Accede a un temario general y específico siempre actualizado a la normativa
      y contexto de las Islas Canarias. ¡No estudies de más, ni de menos! Olvídate
      de los temarios genéricos y céntrate en lo que de verdad importa para tu oposición.
    </Card>
  </div>
</div>
