---
// Types
import type { CardProps } from "../../types/card";

//Icons
import { FaBook } from 'react-icons/fa'
import {
  FaShieldHalved,
  FaBolt,
  FaBullseye,
  FaStar,
  FaRocket,
  FaChartLine,
  FaLightbulb,
  FaTrophy,
  FaGraduationCap,
} from 'react-icons/fa6'

// Props
const {
  title,
  iconName,
  iconWhite = false,
  textWhite = false,
  class: className = '',
} = Astro.props as CardProps


// Components
import H3 from './H3.astro'

const icons = {
  book: FaBook,
  shield: FaShieldHalved,
  bolt: FaBolt,
  bullseye: FaBullseye,
  star: FaStar,
  rocket: FaRocket,
  chart: FaChartLine,
  lightbulb: FaLightbulb,
  trophy: FaTrophy,
  graduation: FaGraduationCap,
}

let Icon = null
if (iconName != null) {
  Icon = icons[iconName]
}
---

<article class:list={['card', 'bg-base-100', 'w-full', 'shadow-sm', 'p-4']}>
  <div class:list={['card-body', className]}>
    <div class:list={['flex', 'items-center']}>
      {
        Icon != null && (
          <Icon
            size={36}
            className={iconWhite ? 'text-white' : 'text-secondary'}
          />
        )
      }
    </div>
    <H3 class:list={['card-title', 'capitalize', textWhite && 'text-white']}>
      {title}
    </H3>
    <p class:list={[textWhite && '!text-white']}><slot /></p>
  </div>
</article>
