---
import { FaBook } from "react-icons/fa";
import { FaShieldHalved } from "react-icons/fa6";
import { FaBolt } from "react-icons/fa6";



interface Props {
  title: string;
  text: string;
  iconName: "book" | "shield" | "bolt";
  iconWhite?: boolean;
}
const {
  title,
  text,
  iconName,
  iconWhite = false,
} = Astro.props as Props;

const icons = {
  book: FaBook,
  shield: FaShieldHalved,
  bolt: FaBolt

};


const Icon = icons[iconName];
---

<div class:list={["card", "bg-base-100", "w-full", "shadow-sm", "p-4"]}>
  <div class:list={["card-body"]}>
      <div class:list={["flex", "items-center"]}>
        <Icon size={36} className={iconWhite ? "text-white":"text-secondary"}/>
    </div>
      <h3 class:list={["card-title", "capitalize"]}>
        {title}
      </h3>
      <p class:list={["text-black"]}>{text}</p>
  </div>
</div>
