---
interface Props{
    subtitleIsH2: boolean;
    class?: string;

}

const { subtitleIsH2=true, class:className = " " } = Astro.props as Props
---

    <h2 class:list={["text-4xl", "text-center", "font-semibold", className]}><slot/></h2>
