---
interface Props {
  class?: string;
}

const { class: className = " " } = Astro.props as Props;
---

<h2
  class:list={[
    "text-lg",
    "text-center",
    "font-semibold",
    "xl:text-4xl sm:text-xl md:text-2xl lg:text-3xl",
    className,
  ]}
>
  <slot />
</h2>
