---
interface Props {
  class?: string;
}

const { class: className = " " } = Astro.props as Props;
---

<h1
  class:list={[
    "text-sm",
    "text-center",
    "font-semibold",
    "xl:text-xl sm:text-sm md:text-base lg:text-xl",
    className,
  ]}
>
  <slot />
</h1>
