---

---

<h1 class:list={["text-3xl", "font-bold", "underline", "debug"]}>Hello world</h1>

<button class:list={["btn", "btn-neutral"]}>Neutral</button>
<button class:list={["btn", "btn-primary"]}>Primary</button>
<button class:list={["btn", "btn-secondary"]}>Secondary</button>
<button class:list={["btn", "btn-accent"]}>Accent</button>
<button class:list={["btn", "btn-info"]}>Info</button>
<button class:list={["btn", "btn-success"]}>Success</button>
<button class:list={["btn", "btn-warning"]}>Warning</button>
<button class:list={["btn", "btn-error"]}>Error</button>
